extends layout

block content 
    div(id="form-block")
    form(action='/new' method='post')
        h1 theForm
        br
        input(type="text" name="author" placeholder="From" required)
        br
        br
        input(type="text" name="text" placeholder="Message" required)
        br
        br
        input(type="submit" value="Send")
    div(class="floating")
        span baby shaq dududud 
    div(class="floating")
        span baby shaq dududud 
    div(class="floating")
        span baby shaq dududud 