extends layout

block content
  header
    div(id="content")
      h1 ShitPosting Board
      p joe looks fire here ... o u dont know who joe is....
      a(id="send" href="/new") Post Message
  section 
    div(id="posts")
      each val in message
        div(class="message")
          h3 
            a From #{val.user}
          p #{val.text}
          div(id="sp")
            span #{val.date} 